src/main/resources/wsdl/XRoadPersonActiveRoleInfo.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://xroad.virre.prh.fi/producer" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://x-road.eu/xsd/xroad.xsd"
                  name="XRoadPersonActiveRoleInfoPortTypeService" targetNamespace="http://xroad.virre.prh.fi/producer">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="https://ws.prh.fi/novus/ids/services/2008/08/22"
                   targetNamespace="https://ws.prh.fi/novus/ids/services/2008/08/22" version="1.0">
            <xs:element name="companyBasicInfo" nillable="true" type="tns:companyBasicInfoType"/>
            <xs:element name="companyBasicInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="companyBasicInfoResponseDetails"
                                    type="tns:companyBasicInfoResponseType"/>
                        <xs:element minOccurs="0" name="Error" type="tns:errorDetailsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="companyExtendedInfo" nillable="true" type="tns:companyBasicInfoType"/>
            <xs:element name="companyExtendedInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="companyExtendedInfoResponseDetails"
                                    type="tns:companyExtendedInfoResponseType"/>
                        <xs:element minOccurs="0" name="Error" type="tns:errorDetailsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="companyNoticeInfo" nillable="true" type="tns:companyNoticeInfoType"/>
            <xs:element name="companyNoticeInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="companyNoticeInfoResponseTypeDetails"
                                    type="tns:companyNoticeInfoResponseType"/>
                        <xs:element minOccurs="0" name="Error" type="tns:errorDetailsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="companyRepresentInfo" nillable="true" type="tns:companyBasicInfoType"/>
            <xs:element name="companyRepresentInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="companyRepresentInfoResponseTypeDetails"
                                    type="tns:companyRepresentInfoResponseType"/>
                        <xs:element minOccurs="0" name="Error" type="tns:errorDetailsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="companyYTJInfo" nillable="true" type="tns:companyYTJInfoType"/>
            <xs:element name="companyYTJInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="companyYTJInfoResponseTypeDetails"
                                    type="tns:companyYTJInfoResponseType"/>
                        <xs:element minOccurs="0" name="Error" type="tns:errorDetailsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="companyYTJInfoV2" nillable="true" type="tns:companyYTJInfoType"/>
            <xs:element name="electronicEncumbrance" nillable="true" type="tns:electronicEncumbranceType"/>
            <xs:element name="electronicEncumbranceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="electronicEncumbranceResponseDetails"
                                    type="tns:electronicEncumbranceResponseType"/>
                        <xs:element minOccurs="0" name="Error" type="tns:errorDetailsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="error" nillable="true" type="tns:errorDetailsType"/>
            <xs:element name="foundationRegisterEntryInfo" nillable="true" type="tns:foundationRegisterEntryInfoType"/>
            <xs:element name="foundationRegisterEntryInfoPdf" nillable="true"
                        type="tns:foundationRegisterEntryInfoPdfType"/>
            <xs:element name="foundationRegisterEntryInfoPdfResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="foundationRegisterEntryInfoPdfResponseDetails"
                                    type="tns:foundationRegisterEntryInfoPdfResponseType"/>
                        <xs:element minOccurs="0" name="Error" type="tns:errorDetailsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="foundationRegisterEntryInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="foundationRegisterEntryInfoResponseDetails"
                                    type="tns:foundationRegisterEntryInfoResponseType"/>
                        <xs:element minOccurs="0" name="Error" type="tns:errorDetailsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="foundationRegisterRulesInfo" nillable="true" type="tns:foundationRegisterRulesInfoType"/>
            <xs:element name="foundationRegisterRulesInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="foundationRegisterRulesInfoResponseDetails"
                                    type="tns:foundationRegisterRulesInfoResponseType"/>
                        <xs:element minOccurs="0" name="Error" type="tns:errorDetailsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCompaniesRequest" nillable="true" type="tns:getCompaniesRequestType"/>
            <xs:element name="getCompaniesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="getCompaniesResponseType" type="tns:getCompaniesResponseType"/>
                        <xs:element minOccurs="0" name="Error" type="tns:errorDetailsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="handledNotifications" nillable="true" type="tns:handledNotificationsType"/>
            <xs:element name="handledNotificationsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="handledNotificationsResponseType"
                                    type="tns:handledNotificationsResponseType"/>
                        <xs:element minOccurs="0" name="Error" type="tns:errorDetailsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="mortgageRegistryQuery" nillable="true" type="tns:mortgageRegistryBaseQueryType"/>
            <xs:element name="mortgageRegistryQueryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="mortgageRegistryQueryResponseType"
                                    type="tns:mortgageRegistryQueryResponseTypeType"/>
                        <xs:element minOccurs="0" name="Error" type="tns:errorDetailsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="mortgageRegistryQueryV2" nillable="true" type="tns:mortgageRegistryBaseQueryType"/>
            <xs:element name="personActiveRoleInfo" nillable="true" type="tns:personActiveRoleInfoType"/>
            <xs:element name="personActiveRoleInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="personActiveRoleInfoResponseTypeDetails"
                                    type="tns:personActiveRoleInfoResponseType"/>
                        <xs:element minOccurs="0" name="Error" type="tns:errorDetailsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="personRoleInfo" nillable="true" type="tns:personActiveRoleInfoType"/>
            <xs:element name="personRoleInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="personRoleInfoResponseTypeDetails"
                                    type="tns:personRoleInfoResponseType"/>
                        <xs:element minOccurs="0" name="Error" type="tns:errorDetailsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="rightToRepresent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="businessId" type="xs:string"/>
                        <xs:element name="personId" type="xs:string"/>
                        <xs:element name="level" type="xs:string"/>
                        <xs:element name="userId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="rightToRepresentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="timestamp" type="xs:string"/>
                        <xs:element minOccurs="0" name="representation" type="tns:RightToRepresentType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="statuteInfo" nillable="true" type="tns:companyBasicInfoType"/>
            <xs:element name="statuteInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="statuteInfoResponseTypeDetails"
                                    type="tns:statuteInfoResponseType"/>
                        <xs:element minOccurs="0" name="Error" type="tns:errorDetailsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="statuteInfoV2" nillable="true" type="tns:companyBasicInfoType"/>
            <xs:element name="tradeRegisterEntryInfo" nillable="true" type="tns:companyBasicInfoType"/>
            <xs:element name="tradeRegisterEntryInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tradeRegisterEntryInfoResponseDetails"
                                    type="tns:registerEntryInfoResponseType"/>
                        <xs:element minOccurs="0" name="Error" type="tns:errorDetailsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="tradeRegisterTranslation" nillable="true" type="tns:tradeRegisterTranslationType"/>
            <xs:element name="tradeRegisterTranslationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="tradeRegisterTranslationResponseDetails"
                                    type="tns:tradeRegisterTranslationResponseType"/>
                        <xs:element minOccurs="0" name="Error" type="tns:errorDetailsType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="personActiveRoleInfoType">
                <xs:sequence>
                    <xs:element name="socialSecurityNumber" type="xs:string"/>
                    <xs:element name="userId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="personActiveRoleInfoResponseType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="firstname" type="xs:string"/>
                    <xs:element name="surname" type="xs:string"/>
                    <xs:element minOccurs="0" name="socialSecurityNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="roleInCompany" nillable="true"
                                type="tns:roleInCompanyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="roleInCompanyType">
                <xs:sequence>
                    <xs:element name="companyName" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element name="state" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="phase" nillable="true" type="tns:phaseType"/>
                    <xs:element maxOccurs="unbounded" name="roleBasicInfo">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="bodyType" type="xs:string"/>
                                <xs:element name="name" type="xs:string"/>
                                <xs:element name="startDate" type="xs:dateTime"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="phaseType">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EMRNoticeType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arrivalDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="numberOfOriginalEntry" type="xs:string"/>
                    <xs:element minOccurs="0" name="privilegeStartDate" type="xs:date"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="bond" nillable="true" type="tns:EMRBondType"/>
                    <xs:element minOccurs="0" name="solution" type="xs:string"/>
                    <xs:element minOccurs="0" name="solutionDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element name="descriptionOfIssue">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element minOccurs="0" name="typeOfIssue" type="xs:string"/>
                                <xs:element minOccurs="0" name="description" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EMRBondType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="number" type="xs:integer"/>
                    <xs:element minOccurs="0" name="capital">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="value" type="xs:double"/>
                                <xs:element name="currency" type="xs:string"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="interest" type="xs:double"/>
                    <xs:element name="collectionExpenses" type="xs:double"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="bondOwner" nillable="true"
                                type="tns:EMRBondOwnerType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="bondOwnerSecondary" nillable="true"
                                type="tns:EMRBondOwnerType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EMRBondOwnerType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="postalAddress" type="xs:string"/>
                    <xs:element minOccurs="0" name="city" type="xs:string"/>
                    <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="country" type="xs:string"/>
                    <xs:element minOccurs="0" name="phone" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="naturalPersonTypeYTJ">
                <xs:sequence>
                    <xs:element name="role" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstname" type="xs:string"/>
                    <xs:element name="surname" type="xs:string"/>
                    <xs:element minOccurs="0" name="socialSecurityNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="dateOfBirth" type="xs:date"/>
                    <xs:element minOccurs="0" name="status" type="tns:personStatusTypeYTJ"/>
                    <xs:element minOccurs="0" name="stakeOfSilentPartner" type="tns:stakeOfSilentPartnerType"/>
                    <xs:element minOccurs="0" name="personContactInfo">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element minOccurs="0" name="visitation" type="tns:addressType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="nationality" type="xs:string"/>
                    <xs:element minOccurs="0" name="domicile" type="xs:string"/>
                    <xs:element minOccurs="0" name="homeCountry" type="xs:string"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="personStatusTypeYTJ">
                <xs:sequence>
                    <xs:element name="value" type="xs:string"/>
                    <xs:element minOccurs="0" name="startDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="stakeOfSilentPartnerType">
                <xs:sequence>
                    <xs:element name="value" type="xs:double"/>
                    <xs:element minOccurs="0" name="currency" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="addressType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="co" type="xs:string"/>
                    <xs:element minOccurs="0" name="streetAddress" type="xs:string"/>
                    <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="city" type="xs:string"/>
                    <xs:element minOccurs="0" name="country" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="representationTypeYTJ">
                <xs:sequence>
                    <xs:element name="group">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="naturalPerson"
                                            type="tns:naturalPersonTypeRepresentationYTJ"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="rule" type="xs:string"/>
                    <xs:element minOccurs="0" name="additionalGroup">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="naturalPerson"
                                            type="tns:naturalPersonTypeRepresentationYTJ"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="naturalPersonTypeRepresentationYTJ">
                <xs:sequence>
                    <xs:element name="bodyType" type="xs:string"/>
                    <xs:element name="role" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstname" type="xs:string"/>
                    <xs:element name="surname" type="xs:string"/>
                    <xs:element minOccurs="0" name="socialSecurityNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="dateOfBirth" type="xs:date"/>
                    <xs:element minOccurs="0" name="status" type="tns:personStatusTypeYTJ"/>
                    <xs:element minOccurs="0" name="personContactInfo">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element minOccurs="0" name="visitation" type="tns:addressType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="nationality" type="xs:string"/>
                    <xs:element minOccurs="0" name="domicile" type="xs:string"/>
                    <xs:element minOccurs="0" name="homeCountry" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="representationType">
                <xs:sequence>
                    <xs:element name="group">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="naturalPerson"
                                            type="tns:naturalPersonTypeRepresentation"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="rule" type="xs:string"/>
                    <xs:element minOccurs="0" name="additionalGroup">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element maxOccurs="unbounded" name="naturalPerson"
                                            type="tns:naturalPersonTypeRepresentation"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="naturalPersonTypeRepresentation">
                <xs:sequence>
                    <xs:element name="bodyType" type="xs:string"/>
                    <xs:element name="role" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstname" type="xs:string"/>
                    <xs:element name="surname" type="xs:string"/>
                    <xs:element minOccurs="0" name="socialSecurityNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="dateOfBirth" type="xs:date"/>
                    <xs:element minOccurs="0" name="status" type="tns:personStatusType"/>
                    <xs:element minOccurs="0" name="stakeOfSilentPartner" type="tns:stakeOfSilentPartnerType"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="personStatusType">
                <xs:sequence>
                    <xs:element name="value" type="xs:string"/>
                    <xs:element minOccurs="0" name="startDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="endDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="companyPrimaryNameType">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="lineOfBusiness" type="tns:lineOfBusinessType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="historicalNames" nillable="true">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="name" type="xs:string"/>
                                <xs:element name="registrationDate" type="xs:dateTime"/>
                                <xs:element name="expirationDate" type="xs:dateTime"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="parallelCompanyName" nillable="true"
                                type="tns:translatedCompanyNameType"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="lineOfBusinessType">
                <xs:sequence>
                    <xs:element name="value" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="translatedCompanyNameType">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RightToRepresentType">
                <xs:sequence>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="companyBasicInfoType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element name="userId" type="xs:string"/>
                    <xs:element minOccurs="0" name="date" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="errorDetailsType">
                <xs:sequence>
                    <xs:element name="Type" type="xs:string"/>
                    <xs:element name="Message" type="xs:string"/>
                    <xs:element minOccurs="0" name="Trace" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="statuteInfoResponseType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element name="companyName" type="xs:string"/>
                    <xs:element name="type" type="xs:string"/>
                    <xs:element name="statute" type="xs:base64Binary"/>
                    <xs:element name="validFromDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="validUntilDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="attachment" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="companyNoticeInfoType">
                <xs:sequence>
                    <xs:element name="userId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getCompaniesRequestType">
                <xs:sequence>
                    <xs:element name="userId" type="xs:string"/>
                    <xs:element name="companyName" type="xs:string"/>
                    <xs:element minOccurs="0" name="companyStateCode" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getCompaniesResponseType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="company" nillable="true"
                                type="tns:getCompaniesCompanyType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getCompaniesCompanyType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element name="companyPrimaryName" type="tns:companyPrimaryNameType"/>
                    <xs:element minOccurs="0" name="form" type="tns:formType"/>
                    <xs:element minOccurs="0" name="postal" type="tns:addressType"/>
                    <xs:element maxOccurs="unbounded" name="searchedName" type="tns:companyNameType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="formType">
                <xs:sequence>
                    <xs:element name="type" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="companyNameType">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="lineOfBusiness" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="translationOfTheAuxiliaryCompanyName"
                                nillable="true" type="tns:translatedCompanyNameType"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="nameTypeCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="nameStateCode" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="personRoleInfoResponseType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="firstname" type="xs:string"/>
                    <xs:element name="surname" type="xs:string"/>
                    <xs:element minOccurs="0" name="socialSecurityNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="roleInCompanyExtended" nillable="true"
                                type="tns:roleInCompanyExtendedType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="roleInCompanyExtendedType">
                <xs:sequence>
                    <xs:element name="companyName" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element name="state" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="currentPhase" nillable="true"
                                type="tns:phaseType"/>
                    <xs:element maxOccurs="unbounded" name="roleExtendedInfo">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="bodyType" type="xs:string"/>
                                <xs:element name="name" type="xs:string"/>
                                <xs:element name="registrationDate" type="xs:dateTime"/>
                                <xs:element minOccurs="0" name="expirationDate" type="xs:dateTime"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="companyYTJInfoType">
                <xs:sequence>
                    <xs:element name="businessId" type="xs:string"/>
                    <xs:element name="userId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="companyYTJInfoResponseType">
                <xs:complexContent>
                    <xs:extension base="tns:companyExtendedInfoResponseTypeYTJ">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="accountingPeriod" type="tns:accountingPeriodTypeYTJ"/>
                            <xs:element minOccurs="0" name="exceptionalAccountingPeriod"
                                        type="tns:exceptionalAccountingPeriodTypeYTJ"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="tradeLicense" nillable="true"
                                        type="tns:tradeLicenseType"/>
                            <xs:element name="aoyLawApplied" type="xs:boolean"/>
                            <xs:element minOccurs="0" name="accountantNotNominated" type="xs:boolean"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="representation" nillable="true"
                                        type="tns:representationTypeYTJ"/>
                            <xs:element name="hasMortgageRegisterEntry" type="xs:boolean"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="companyExtendedInfoResponseTypeYTJ">
                <xs:complexContent>
                    <xs:extension base="tns:companyBasicInfoResponseTypeYTJ">
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="body" nillable="true"
                                        type="tns:bodyTypeYTJ"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="companyBasicInfoResponseTypeYTJ">
                <xs:sequence>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="dissolutionDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="domicile" type="xs:string"/>
                    <xs:element name="companyName" type="tns:companyPrimaryNameTypeYTJ"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="auxiliaryCompanyName" nillable="true"
                                type="tns:companyNameTypeYTJ"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="phase" nillable="true"
                                type="tns:phaseTypeYTJ"/>
                    <xs:element minOccurs="0" name="form" type="xs:string"/>
                    <xs:element name="state" type="tns:stateTypeYTJ"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="accountingPeriodTypeYTJ">
                <xs:sequence>
                    <xs:element minOccurs="0" name="startDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="endDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="exceptionalAccountingPeriodTypeYTJ">
                <xs:sequence>
                    <xs:element minOccurs="0" name="startDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="endDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="tradeLicenseType">
                <xs:sequence>
                    <xs:element name="type" type="xs:string"/>
                    <xs:element name="class" type="xs:string"/>
                    <xs:element name="validFromDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="validToDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="authority" type="xs:string"/>
                    <xs:element name="dateOfIssue" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="bodyTypeYTJ">
                <xs:sequence>
                    <xs:element name="type" type="xs:string"/>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:element name="naturalPerson" type="tns:naturalPersonTypeYTJ"/>
                        <xs:element name="juristicPerson" type="tns:juristicPersonTypeYTJ"/>
                    </xs:choice>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="memberMax" type="xs:integer"/>
                    <xs:element minOccurs="0" name="memberMin" type="xs:integer"/>
                    <xs:element minOccurs="0" name="deputyMemberMax" type="xs:integer"/>
                    <xs:element minOccurs="0" name="deputyMemberMin" type="xs:integer"/>
                    <xs:element minOccurs="0" name="retiredPersons" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="juristicPersonTypeYTJ">
                <xs:sequence>
                    <xs:element name="role" type="xs:string"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element name="register" type="xs:string"/>
                    <xs:element minOccurs="0" name="registerCountryCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="domicile" type="xs:string"/>
                    <xs:element minOccurs="0" name="legalForm" type="xs:string"/>
                    <xs:element minOccurs="0" name="state" type="tns:stateTypeYTJ"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="phase" nillable="true"
                                type="tns:phaseTypeYTJ"/>
                    <xs:element minOccurs="0" name="stakeOfSilentPartner" type="tns:stakeOfSilentPartnerType"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="naturalPerson" type="tns:naturalPersonTypeRepresentationYTJ"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="stateTypeYTJ">
                <xs:sequence>
                    <xs:element name="type" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="phaseTypeYTJ">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="companyPrimaryNameTypeYTJ">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="lineOfBusiness" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="parallelCompanyName" nillable="true"
                                type="tns:translatedCompanyNameTypeYTJ"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="translatedCompanyNameTypeYTJ">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="language" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="companyNameTypeYTJ">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="lineOfBusiness" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="translationOfTheAuxiliaryCompanyName"
                                nillable="true" type="tns:translatedCompanyNameTypeYTJ"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="phoneType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="number" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="contactInformationType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="visitation" type="tns:addressType"/>
                    <xs:element minOccurs="0" name="postal" type="tns:addressType"/>
                    <xs:element minOccurs="0" name="homepage" type="xs:string"/>
                    <xs:element minOccurs="0" name="phone" type="tns:phoneType"/>
                    <xs:element minOccurs="0" name="fax" type="tns:phoneType"/>
                    <xs:element minOccurs="0" name="email" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="bodyType">
                <xs:sequence>
                    <xs:element name="type" type="xs:string"/>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:element name="naturalPerson" type="tns:naturalPersonType"/>
                        <xs:element name="juristicPerson" type="tns:juristicPersonType"/>
                    </xs:choice>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="naturalPersonType">
                <xs:sequence>
                    <xs:element name="role" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstname" type="xs:string"/>
                    <xs:element name="surname" type="xs:string"/>
                    <xs:element minOccurs="0" name="socialSecurityNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="dateOfBirth" type="xs:date"/>
                    <xs:element minOccurs="0" name="status" type="tns:personStatusType"/>
                    <xs:element minOccurs="0" name="stakeOfSilentPartner" type="tns:stakeOfSilentPartnerType"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="juristicPersonType">
                <xs:sequence>
                    <xs:element name="role" type="xs:string"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element name="register" type="xs:string"/>
                    <xs:element minOccurs="0" name="state" type="tns:stateType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="phase" nillable="true" type="tns:phaseType"/>
                    <xs:element minOccurs="0" name="stakeOfSilentPartner" type="tns:stakeOfSilentPartnerType"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="stateType">
                <xs:sequence>
                    <xs:element name="type" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="bodyFRType">
                <xs:sequence>
                    <xs:element name="type" type="xs:string"/>
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:element name="naturalPerson" type="tns:naturalPersonFRType"/>
                        <xs:element name="juristicPerson" type="tns:juristicPersonFRType"/>
                    </xs:choice>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="naturalPersonFRType">
                <xs:sequence>
                    <xs:element name="role" type="xs:string"/>
                    <xs:element minOccurs="0" name="firstname" type="xs:string"/>
                    <xs:element name="surname" type="xs:string"/>
                    <xs:element minOccurs="0" name="socialSecurityNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="dateOfBirth" type="xs:date"/>
                    <xs:element minOccurs="0" name="status" type="tns:personStatusType"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="juristicPersonFRType">
                <xs:sequence>
                    <xs:element name="role" type="xs:string"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element name="register" type="xs:string"/>
                    <xs:element minOccurs="0" name="state" type="tns:stateType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="phase" nillable="true" type="tns:phaseType"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="shareCapitalLostType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="shareCapitalType">
                <xs:sequence>
                    <xs:element name="currency" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" type="xs:double"/>
                    <xs:element minOccurs="0" name="paidValue" type="xs:double"/>
                    <xs:element minOccurs="0" name="nominalValue" type="xs:double"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="shareType" nillable="true"
                                type="tns:shareTypeType"/>
                    <xs:element minOccurs="0" name="amountOfShares" type="xs:integer"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="shareTypeType">
                <xs:sequence>
                    <xs:element name="type" type="xs:string"/>
                    <xs:element name="amount" type="xs:integer"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="registerEntryType">
                <xs:sequence>
                    <xs:element name="headerText" type="xs:string"/>
                    <xs:element name="bodyText" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationDateDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="noticeType">
                <xs:sequence>
                    <xs:element name="recordNumber" type="xs:string"/>
                    <xs:element name="type" type="xs:string"/>
                    <xs:element name="latestPhaseName" type="xs:string"/>
                    <xs:element name="latestPhaseArrivalDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="arrivalDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="companyExtendedInfoType">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="handledNoticeType">
                <xs:sequence>
                    <xs:element name="recordNumber" type="xs:string"/>
                    <xs:element name="typeCode" type="xs:string"/>
                    <xs:element name="typeName" type="xs:string"/>
                    <xs:element name="arrivalDate" type="xs:string"/>
                    <xs:element name="closingDate" type="xs:string"/>
                    <xs:element name="latestStatusCode" type="xs:string"/>
                    <xs:element name="latestStatusName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="domicileType">
                <xs:sequence>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EMRCompanyType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="notice" nillable="true"
                                type="tns:EMRNoticeType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="legalRepresentationType">
                <xs:sequence>
                    <xs:element name="header" type="xs:string"/>
                    <xs:element name="text" type="xs:string"/>
                    <xs:element name="signingCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expireDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="nameHistoryType">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="electronicEncumbranceType">
                <xs:sequence>
                    <xs:element name="userId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element name="language" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="handledNotificationsType">
                <xs:sequence>
                    <xs:element name="userId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="startDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="endDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="language" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="mortgageRegistryBaseQueryType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="startDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="endDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element name="userId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="tradeRegisterTranslationType">
                <xs:sequence>
                    <xs:element name="userId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element name="language" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="electronicEncumbranceResponseType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element name="companyName" type="xs:string"/>
                    <xs:element name="extract" type="xs:base64Binary"/>
                    <xs:element name="language" type="xs:string"/>
                    <xs:element name="creationDate" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="companyNoticeInfoResponseType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element name="companyName" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="notice" nillable="true"
                                type="tns:noticeType"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element name="dissolutionDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="handledNotificationsResponseType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element name="companyName" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="notice" nillable="true"
                                type="tns:handledNoticeType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="companyRepresentInfoResponseType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element name="registrationNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="dissolutionDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="domicile" type="tns:domicileType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="phase" nillable="true" type="tns:phaseType"/>
                    <xs:element minOccurs="0" name="contactInformation" type="tns:contactInformationType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="representation" nillable="true"
                                type="tns:representationType"/>
                    <xs:element name="companyName" type="tns:companyNameRepresentationType"/>
                    <xs:element minOccurs="0" name="lineOfBusiness" type="tns:lineOfBusinessType"/>
                    <xs:element minOccurs="0" name="form" type="tns:formType"/>
                    <xs:element name="state" type="tns:stateType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="body" nillable="true" type="tns:bodyType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="legalRepresentation" nillable="true"
                                type="tns:legalRepresentationType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="companyNameRepresentationType">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="expirationDate" type="xs:date"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="foundationRegisterEntryInfoType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="date" type="xs:date"/>
                    <xs:element name="userId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="foundationRegisterEntryInfoResponseType">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="establishPermissionGranted" type="xs:date"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="dissolutionDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="domicile" type="tns:domicileType"/>
                    <xs:element minOccurs="0" name="contactInformation" type="tns:contactInformationType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="registerEntry" nillable="true"
                                type="tns:registerEntryType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="body" nillable="true" type="tns:bodyFRType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="nameHistory" nillable="true"
                                type="tns:nameHistoryType"/>
                    <xs:element name="creationTime" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="foundationRegisterEntryInfoPdfType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="date" type="xs:date"/>
                    <xs:element name="userId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="foundationRegisterEntryInfoPdfResponseType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="extract" type="xs:base64Binary"/>
                    <xs:element name="creationDate" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="foundationRegisterRulesInfoType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element name="userId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="foundationRegisterRulesInfoResponseType">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element name="companyName" type="xs:string"/>
                    <xs:element name="type" type="xs:string"/>
                    <xs:element name="statute" type="xs:base64Binary"/>
                    <xs:element name="validFromDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="validUntilDate" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="establishPermissionGranted" type="xs:date"/>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="dissolutionDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="domicile" type="tns:domicileType"/>
                    <xs:element minOccurs="0" name="contactInformation" type="tns:contactInformationType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="registerEntry" nillable="true"
                                type="tns:registerEntryType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="body" nillable="true" type="tns:bodyFRType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="nameHistory" nillable="true"
                                type="tns:nameHistoryType"/>
                    <xs:element name="creationTime" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="tradeRegisterTranslationResponseType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element name="companyName" type="xs:string"/>
                    <xs:element name="extract" type="xs:base64Binary"/>
                    <xs:element name="creationDate" type="xs:dateTime"/>
                    <xs:element name="language" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="registerEntryInfoResponseType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element name="companyName" type="xs:string"/>
                    <xs:element name="extract" type="xs:base64Binary"/>
                    <xs:element name="creationDate" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="companyExtendedInfoResponseType">
                <xs:complexContent>
                    <xs:extension base="tns:companyBasicInfoResponseType">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="deliveryDateOfLastFinancialStatement" type="xs:date"/>
                            <xs:element minOccurs="0" name="shareCapital" type="tns:shareCapitalType"/>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="body" nillable="true"
                                        type="tns:bodyType"/>
                            <xs:element minOccurs="0" name="shareCapitalLost" type="tns:shareCapitalLostType"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="companyBasicInfoResponseType">
                <xs:sequence>
                    <xs:element minOccurs="0" name="registrationDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="businessId" type="xs:string"/>
                    <xs:element minOccurs="0" name="registrationNumber" type="xs:string"/>
                    <xs:element minOccurs="0" name="dissolutionDate" type="xs:date"/>
                    <xs:element minOccurs="0" name="domicile" type="tns:domicileType"/>
                    <xs:element name="companyName" type="tns:companyPrimaryNameType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="auxiliaryCompanyName" nillable="true"
                                type="tns:companyNameType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="phase" nillable="true" type="tns:phaseType"/>
                    <xs:element minOccurs="0" name="contactInformation" type="tns:contactInformationType"/>
                    <xs:element minOccurs="0" name="form" type="tns:formType"/>
                    <xs:element name="state" type="tns:stateType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="mortgageRegistryQueryResponseTypeType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="company" nillable="true"
                                type="tns:EMRCompanyType"/>
                    <xs:element minOccurs="0" name="nextBusinessId" type="xs:string"/>
                    <xs:element name="numberOfCompanies" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="rightToRepresentParametersType">
                <xs:sequence>
                    <xs:element name="businessId" type="xs:string"/>
                    <xs:element name="personId" type="xs:string"/>
                    <xs:element name="level" type="xs:string"/>
                    <xs:element name="userId" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="rightToRepresentResponseType">
                <xs:sequence>
                    <xs:element name="timestamp" type="xs:string"/>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:ns1="https://ws.prh.fi/novus/ids/services/2008/08/22"
                   targetNamespace="http://xroad.virre.prh.fi/producer" version="1.0">
            <xs:import namespace="https://ws.prh.fi/novus/ids/services/2008/08/22"/>
            <xs:element name="XRoadPersonActiveRoleInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="request" type="ns1:personActiveRoleInfoType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="XRoadPersonActiveRoleInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="request" type="ns1:personActiveRoleInfoType"/>
                        <xs:element name="response" type="ns1:personActiveRoleInfoResponseType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="XRoadRightToRepresent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="request" type="ns1:rightToRepresentParametersType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="XRoadRightToRepresentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="request" type="ns1:rightToRepresentParametersType"/>
                        <xs:element name="response" type="ns1:rightToRepresentResponseType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://x-road.eu/xsd/identifiers"
                   targetNamespace="http://x-road.eu/xsd/xroad.xsd" version="1.0">
            <xs:import namespace="http://x-road.eu/xsd/identifiers"/>
            <xs:element name="client" nillable="true" type="ns1:XRoadClientIdentifierType"/>
            <xs:element name="id" nillable="true" type="xs:string"/>
            <xs:element name="issue" nillable="true" type="xs:string"/>
            <xs:element name="protocolVersion" nillable="true" type="xs:string"/>
            <xs:element name="service" nillable="true" type="ns1:XRoadServiceIdentifierType"/>
            <xs:element name="userId" nillable="true" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://x-road.eu/xsd/identifiers"
                   elementFormDefault="qualified" targetNamespace="http://x-road.eu/xsd/identifiers" version="1.0">
            <xs:element name="memberClass" nillable="true" type="xs:string"/>
            <xs:element name="memberCode" nillable="true" type="xs:string"/>
            <xs:element name="serviceCode" nillable="true" type="xs:string"/>
            <xs:element name="serviceVersion" nillable="true" type="xs:string"/>
            <xs:element name="subsystemCode" nillable="true" type="xs:string"/>
            <xs:element name="xRoadInstance" nillable="true" type="xs:string"/>
            <xs:complexType name="XRoadClientIdentifierType">
                <xs:sequence>
                    <xs:element name="xRoadInstance" type="xs:string"/>
                    <xs:element name="memberClass" type="xs:string"/>
                    <xs:element name="memberCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="subsystemCode" type="xs:string"/>
                </xs:sequence>
                <xs:attribute ref="tns:objectType" use="required"/>
            </xs:complexType>
            <xs:complexType name="XRoadServiceIdentifierType">
                <xs:sequence>
                    <xs:element name="xRoadInstance" type="xs:string"/>
                    <xs:element name="memberClass" type="xs:string"/>
                    <xs:element name="memberCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="subsystemCode" type="xs:string"/>
                    <xs:element name="serviceCode" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceVersion" type="xs:string"/>
                </xs:sequence>
                <xs:attribute ref="tns:objectType" use="required"/>
            </xs:complexType>
            <xs:simpleType name="XRoadObjectType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="MEMBER"/>
                    <xs:enumeration value="SUBSYSTEM"/>
                    <xs:enumeration value="SERVICE"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:attribute name="objectType" type="xs:string"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="XRoadPersonActiveRoleInfo">
        <wsdl:part element="tns:XRoadPersonActiveRoleInfo" name="body">
        </wsdl:part>
        <wsdl:part element="ns1:client" name="client">
        </wsdl:part>
        <wsdl:part element="ns1:service" name="service">
        </wsdl:part>
        <wsdl:part element="ns1:userId" name="userId">
        </wsdl:part>
        <wsdl:part element="ns1:id" name="id">
        </wsdl:part>
        <wsdl:part element="ns1:issue" name="issue">
        </wsdl:part>
        <wsdl:part element="ns1:protocolVersion" name="protocolVersion">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="XRoadPersonActiveRoleInfoResponse">
        <wsdl:part element="tns:XRoadPersonActiveRoleInfoResponse" name="body">
        </wsdl:part>
        <wsdl:part element="ns1:client" name="client">
        </wsdl:part>
        <wsdl:part element="ns1:service" name="service">
        </wsdl:part>
        <wsdl:part element="ns1:userId" name="userId">
        </wsdl:part>
        <wsdl:part element="ns1:id" name="id">
        </wsdl:part>
        <wsdl:part element="ns1:issue" name="issue">
        </wsdl:part>
        <wsdl:part element="ns1:protocolVersion" name="protocolVersion">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="XRoadPersonActiveRoleInfoPortType">
        <wsdl:operation name="XRoadPersonActiveRoleInfo"
                        parameterOrder="body client service userId id issue protocolVersion">
            <wsdl:input message="tns:XRoadPersonActiveRoleInfo" name="XRoadPersonActiveRoleInfo">
            </wsdl:input>
            <wsdl:output message="tns:XRoadPersonActiveRoleInfoResponse" name="XRoadPersonActiveRoleInfoResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="XRoadPersonActiveRoleInfoPortTypeServiceSoapBinding"
                  type="tns:XRoadPersonActiveRoleInfoPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="XRoadPersonActiveRoleInfo">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="XRoadPersonActiveRoleInfo">
                <soap:header message="tns:XRoadPersonActiveRoleInfo" part="client" use="literal">
                </soap:header>
                <soap:header message="tns:XRoadPersonActiveRoleInfo" part="service" use="literal">
                </soap:header>
                <soap:header message="tns:XRoadPersonActiveRoleInfo" part="userId" use="literal">
                </soap:header>
                <soap:header message="tns:XRoadPersonActiveRoleInfo" part="id" use="literal">
                </soap:header>
                <soap:header message="tns:XRoadPersonActiveRoleInfo" part="issue" use="literal">
                </soap:header>
                <soap:header message="tns:XRoadPersonActiveRoleInfo" part="protocolVersion" use="literal">
                </soap:header>
                <soap:body parts="body" use="literal"/>
            </wsdl:input>
            <wsdl:output name="XRoadPersonActiveRoleInfoResponse">
                <soap:header message="tns:XRoadPersonActiveRoleInfoResponse" part="client" use="literal">
                </soap:header>
                <soap:header message="tns:XRoadPersonActiveRoleInfoResponse" part="service" use="literal">
                </soap:header>
                <soap:header message="tns:XRoadPersonActiveRoleInfoResponse" part="userId" use="literal">
                </soap:header>
                <soap:header message="tns:XRoadPersonActiveRoleInfoResponse" part="id" use="literal">
                </soap:header>
                <soap:header message="tns:XRoadPersonActiveRoleInfoResponse" part="issue" use="literal">
                </soap:header>
                <soap:header message="tns:XRoadPersonActiveRoleInfoResponse" part="protocolVersion" use="literal">
                </soap:header>
                <soap:body parts="body" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="XRoadPersonActiveRoleInfoPortTypeService">
        <wsdl:port binding="tns:XRoadPersonActiveRoleInfoPortTypeServiceSoapBinding"
                   name="XRoadPersonActiveRoleInfoPortTypePort">
            <soap:address location="http://mule-out-dev.prh.fi/personactiveroleinfo"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>