src/main/resources/wsdl/xroadpersonactiveroleinfo.wsdl

<wsdl:definitions 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://xroad.virre.prh.fi/producer" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xrd="http://x-road.eu/xsd/xroad.xsd" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:virre="https://ws.prh.fi/novus/ids/services/2008/08/22"
	xmlns:id="http://x-road.eu/xsd/identifiers" 
    name="XRoadPersonActiveRoleInfoService"
	targetNamespace="http://xroad.virre.prh.fi/producer">
	<wsdl:types>
		<xs:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xroad.virre.prh.fi/producer" elementFormDefault="qualified">
            <xs:import id="virre" namespace="https://ws.prh.fi/novus/ids/services/2008/08/22" schemaLocation="IDSServices11.xsd" />
            <xs:import id="xrd" namespace="http://x-road.eu/xsd/xroad.xsd" schemaLocation="xroad.xsd" />
            <xs:element name="XRoadPersonActiveRoleInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="request" type="tns:XRoadPersonActiveRoleInfoRequestType" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="XRoadPersonActiveRoleInfoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="request" type="tns:XRoadPersonActiveRoleInfoRequestType" />
                        <xs:element name="response" type="tns:XRoadPersonActiveRoleInfoResponseType" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="XRoadPersonActiveRoleInfoRequestType">
                <xs:sequence>
                    <xs:element ref="virre:personActiveRoleInfo" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="XRoadPersonActiveRoleInfoResponseType">
                <xs:choice>
                    <xs:element ref="virre:personActiveRoleInfoResponse" />
                    <xs:sequence>
                        <xs:element name="faultCode" type="xs:string" />
                        <xs:element name="faultString" type="xs:string" />
                    </xs:sequence>
                </xs:choice>
            </xs:complexType>
        </xs:schema>
	</wsdl:types>

	<wsdl:message name="requestheader">
		<wsdl:part name="client" element="xrd:client" />
		<wsdl:part name="service" element="xrd:service" />
		<wsdl:part name="userId" element="xrd:userId" />
		<wsdl:part name="id" element="xrd:id" />
		<wsdl:part name="protocolVersion" element="xrd:protocolVersion" />
	</wsdl:message>

	<wsdl:message name="XRoadPersonActiveRoleInfo">
		<wsdl:part name="body" element="tns:XRoadPersonActiveRoleInfo" />
	</wsdl:message>
	<wsdl:message name="XRoadPersonActiveRoleInfoResponse">
		<wsdl:part name="body" element="tns:XRoadPersonActiveRoleInfoResponse" />
	</wsdl:message>

	<wsdl:portType name="XRoadPersonActiveRoleInfoPortType">
		<wsdl:operation name="XRoadPersonActiveRoleInfo">
			<wsdl:input message="tns:XRoadPersonActiveRoleInfo" />
			<wsdl:output message="tns:XRoadPersonActiveRoleInfoResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="XRoadPersonActiveRoleInfoBinding" type="tns:XRoadPersonActiveRoleInfoPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="XRoadPersonActiveRoleInfo">
			<soap:operation soapAction="" style="document" />
			<id:version>v1</id:version>
			<wsdl:input>
				<soap:body parts="body" use="literal" />
				<soap:header message="tns:requestheader" part="client" use="literal" />
				<soap:header message="tns:requestheader" part="service" use="literal" />
				<soap:header message="tns:requestheader" part="userId"
					use="literal" />
				<soap:header message="tns:requestheader" part="id" use="literal" />
				<soap:header message="tns:requestheader" part="protocolVersion"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="body" use="literal" />
				<soap:header message="tns:requestheader" part="client"
					use="literal" />
				<soap:header message="tns:requestheader" part="service"
					use="literal" />
				<soap:header message="tns:requestheader" part="userId"
					use="literal" />
				<soap:header message="tns:requestheader" part="id" use="literal" />
				<soap:header message="tns:requestheader" part="protocolVersion"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<!-- comment -->
	<wsdl:service name="XRoadPersonActiveRoleInfoService">
		<wsdl:port name="XRoadPersonActiveRoleInfoPort" binding="tns:XRoadPersonActiveRoleInfoBinding">
			<soap:address location="http://WILLBEOVERWRITTENBYMULE"/>
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>